
.topnav {
    position: relative;
    overflow:hidden;
    background-color:white;
    width: 72%;
    top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(255, 0, 0);
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: rgba(255, 0, 0, 0.664);
    color: white;
    transition-duration: 1s;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
  }
  
  .topnav-right {
    float: right;
  }
   
  .box{
    width: 25%;
    height: auto;
    border:solid white 10px;
    background: lightgray;
    font-family: 'DM Serif Display', serif;
    font-size: 120%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(255, 0, 0);
    position: relative;
    top: 10%;
    float: left;
    left: 5%
}
.bild1{
    width: 22%;
    height: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(255, 0, 0);
    position: relative;
    border: solid white 10px;  
    float: none;
}
.box2{
    width: 25%;
    height: auto;
    border:solid white 10px;
    background: lightgray;
    font-family: 'DM Serif Display', serif;
    font-size: 120%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgb(255, 0, 0);
    position: relative;
    top: 10%;
    float: right;
    right: 5%;
}
a.buttoneng{
  border: none;
padding: 14px 28px;
font-size: 20px;
display: inline-block;
text-decoration: none;
font-family: 'DM Serif Display', serif;
float: none;
position: relative;
color: black;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 4px 20px 0px rgb(255, 0, 0);
}
.buttoneng:hover {
background-color: red;
color: white;
transition-duration: 1s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgb(0, 0, 0);
}

a.button1{
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  float: none;
  position: relative;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 4px 20px 0px rgb(255, 0, 0);
  top: 3%;
  }
.button1:hover {
  background-color: red;
  color: white;
  transition-duration: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgb(0, 0, 0);
}

.footer{
  position:fixed;
  width: 100%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.63);
  overflow:hidden;
  height: 15%;
}
.textfooter{
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 140%;
  padding-top:0.5%;
  color: white;
  float: none;
}
span{
  color: white;
text-align: center;
font-family: 'DM Serif Display', serif;
font-size: 80%;
}
.vänsterbilder{
  left: -25%;
  position: relative;
  margin-top: -10%
}
.högerbild1{
  right: -20%;
  position: relative;
  margin-top:  -5%;
}
.högerbild2{
  right:-35%;
  position: relative;
  margin-top: -5%
}

        /* Responsive navigation menu (for mobile devices) */
        @media screen and (max-width: 1000px) {
            .topnav a, .topnav-right, .body{
              float: none;
              display: block;
              position: relative;
              width: 55%;
            }
            
            .topnav-centered a {
              position: relative; 
              top: 0;
              left:0;
              transform: none;
                float: none;
                width: 85%;
            }
            .bild1{
                width: 200px;
                height: 300px;
                float: none;
                left: 3%;
            }
            .box{
                font-size:16px ;
                width: 40%;
                left: 4%;
            }
            .box2{
                font-size: 16px;
                width: 40%;
                left: -51.9%;
                margin-top: 12%;
            }
            body{
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover ;
                font-family: 'DM Serif Display', serif;
                margin: 0%;
                overflow: visible;
                min-height: 400px;
                margin-bottom: 400px;
                clear: both;
            }
            a.button{
              left:44%;
            }
            a.buttoneng{
              left: 48%;
            }
            .vänsterbilder, .högerbild1, .högerbild2{
              width: 0%;
            }
            }
            @media screen and (min-width: 1000px) {
                body{
                    background-color: lightgray;
                    background-repeat: no-repeat;
                    background-size: cover ;
                    font-family: 'DM Serif Display', serif;
                    margin: 0%;
                    overflow: visible;
                    min-height: 400px;
                    margin-bottom: 60px;
                    clear: both;
                    
                }
                }

               